.mainContainer {
  width: 100vw;
  background-color: var(--secondary-color);
  padding: 0 0 100px 0;
  padding: 0 0 60px 0;
}

.skillsListContainer {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.circle {
  margin: 14px auto;
  width: 120px;
  height: 120px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.itemName {
  color: white;
  margin: 33px 0 0 0;
}

@media only screen and (min-width: 800px) {
  .circle {
    padding: 20px;
    width: 140px;
    height: 140px;
  }
}

@media only screen and (min-width: 515px) {
  .circle {
    margin: 14px;
  }
}
