.about-me .container {
  display: grid;
}

.about-me figure {
  position: relative;
  box-shadow: 5px 5px 5px rgb(56, 56, 56);
}

.about-me img {
  width: 100%;
  border-radius: 8px;
}

.about-me figcaption {
  background: rgba(0, 45, 160, 0.85);
  padding: 5px;
  line-height: 1;
  bottom: 3.1px;
  width: 100%;
  height: auto;
  min-height: 70px;
}

.about-me h4 {
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .about-me .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .about-me .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
