.container {
  width: 100vw;
  padding: 20px 20px 100px 20px;
  background-color: var(--tertiary-color);
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  width: 90vw;
  margin: auto;
  padding: 50px;

  background-color: var(--secondary-color);
}

.techDegree {
  width: 100%;
  max-width: 350px;
}

@media only screen and (min-width: 750px) {
  .cardsContainer {
    flex-direction: row;
  }
}
