.container {
  width: 90vw;
  margin: auto;
}

.techDegree {
  width: 100%;
  max-width: 350px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 750px) {
  .cardsContainer {
    flex-direction: row;
  }
}
