.contact .socialMedia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.contact img {
  width: 80px;
  margin: 10px;
}

.contact .email {
  display: block;
  width: 50%;
  padding: 15px;
}
