.projects .description {
  background: #211e1e;
  border-radius: 10px;
  padding: 1px 0 0 1px;
  background: rgba(76, 175, 80, 0.3);
  text-align: left;
  opacity: 0.5;
}

.projects .description:hover {
  opacity: 1;
}

.projects h3 {
  height: 40px;
}

.projects .card .inner ol {
  height: 125px;
  overflow-y: scroll;
}

.projects .card .inner h2 {
  font-size: medium;
}

.projects .card .inner {
  margin: 10px;
}

.projects img {
  opacity: 0.8;
  border: 5px solid rgba(69, 134, 114, 0.6);
  animation-name: animate;
  animation-duration: 4s;
}

@media only screen and (min-width: 768px) {
  .projects .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .projects .card {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .projects .row {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
  }

  .projects .col {
    padding: 0 10px;
  }
}

@keyframes animate {
  from {
    padding-left: 100px;
  }
  to {
    padding-left: 0px;
  }
}
