.description {
  background: #211e1e;
  border-radius: 10px;
  padding: 1px 0 0 1px;
  background: rgba(76, 175, 80, 0.3);
  text-align: left;
  opacity: 0.5;
}

.description:hover {
  opacity: 1;
}

.img-project {
  width: 100%;
}

.card .inner ol {
  height: 125px;
  overflow-y: scroll;
}

.card .inner h2 {
  font-size: medium;
}

.card .inner {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .card {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .row {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
  }

  .col {
    padding: 0 10px;
  }
}
