.container {
  width: 100vw;
  background-color: var(--tertiary-color);
}

.socialMedia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socialMedia img {
  width: 60px;
  margin: 5px;
  border-radius: 50%;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
