.container {
  margin: auto;
}

.socialMedia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.socialMedia img {
  width: 80px;
  margin: 10px;
  border-radius: 50%;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
