.social .socialMedia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.social img {
  width: 80px;
  margin: 10px;
}

.social figure:hover {
  animation-name: scale;
  animation-duration: 5s;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
