.container {
  width: 100vw;
  background: var(--dark-color);
}

.headerName {
  font-size: 1rem;
  padding: 20px;
  color: var(--primary-color);
}

.rightNav {
  padding: 25px 0;
}

.navLink {
  display: inline-block;
  width: 110px;
  font-size: 1em;
  color: var(--primary-color);
  border-radius: 5px;
}

a:active,
a:hover,
a.active {
  color: aqua;
}

.profileImg {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: block;
}

.profileImg:hover {
  animation: spin 1.5s ease-in-out 0s forwards;
}

@keyframes spin {
  50% {
    transform: rotate(-5deg);
  }
}

@media only screen and (min-width: 1000px) {
  .mainNav {
    padding: 15px;
    width: 90vw;
    margin: auto;
  }

  .navbar {
    display: flex;
    margin-right: auto;
    justify-content: space-around;
    padding: 30px;
  }

  .photoAndName {
    display: flex;
  }

  .rightNav {
    display: flex;
    align-self: center;
    padding-bottom: auto;
  }

  .navLink {
    height: 60px;
    margin: 0 3px;
    min-width: 100px;
  }
}
