.mainContainer {
  width: 100vw;
  height: auto;
  padding: 20px 20px 100px 20px;
  background-color: var(--primary-color);
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  width: 90vw;
  margin: auto;
}

.card {
  padding: 500px;
}

.techDegree {
  width: 100%;
  max-width: 350px;
}

.footer {
  bottom: 0px;
}

@media only screen and (min-width: 500px) {
  .cardsContainer {
    max-width: 470px;
  }
}

@media only screen and (min-width: 1250px) {
  .cardsContainer {
    flex-direction: row;
    max-width: 70vw;
  }
}
