:root {
  --primary-color: white;
  --secondary-color: #157b82;
  --tertiary-color: #15546b;
  --quaternary-color: #0f4152;

  --neutral-color: rgb(59, 59, 59);
  --dark-color: rgb(39, 39, 39);

  --button-color: aqua;
}
