.container {
  width: 100vw;
  height: auto;
  background-color: var(--secondary-color);
}

.contact .email {
  display: block;
  padding: 15px;
}

.form_control {
  color: white;
  text-align: left;
  margin-bottom: 1rem;
}

.adiv {
  display: inline;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 15px;
}

.h4 {
  margin: 50px;
}

.input_error_message {
  color: red;
}

.success_message {
  color: white;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(55, 153, 245);
}

.failed_message {
  color: white;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(245, 22, 22);
}
