.container {
  margin-bottom: 100px;
  height: auto;
}

.contact .email {
  display: block;
  width: 100vw;
  padding: 15px;
}

.form_control {
  color: white;
  text-align: left;
  margin-bottom: 1rem;
}

.input_error_message {
  color: red;
}

.success_message {
  color: white;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(55, 153, 245);
}

.failed_message {
  color: white;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(245, 22, 22);
}
