.container {
  width: 100vw;
  background-color: var(--tertiary-color);
}

.galleryContainer {
  display: grid;
  width: 80vw;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .galleryContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .galleryContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
