.container {
  width: 100vw;
  background-color: var(--primary-color);
  padding: 0 0 100px 0;
}

.rowCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  margin: 0 auto;
}

.table {
  width: 65vw;
  margin: auto;
}

.table td {
  border-radius: 30px;
  height: 50px;
  width: 500px;
}

.img {
  width: 300px;
}

.table th {
  width: 60px;
}

@media only screen and (min-width: 768px) {
  table {
    width: 70%;
  }

  .rowCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  table {
    width: 55%;
  }
}
