.mainContainer {
  width: 100vw;
  background-color: var(--primary-color);
  padding: 0 0 100px 0;
}

.container {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 70vw;
}

.cardsContainer {
  width: 90vw;
  margin: auto;
  background-color: var(--primary-color);
}

.button {
  display: block;
}

@media only screen and (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr;
    display: grid;
    width: 80vw;
    grid-template-rows: auto;
  }
}

@media only screen and (min-width: 1336px) {
  .cardsContainer {
    grid-template-columns: 1fr 1fr 1fr;
    width: 70vw;
  }
}
