:root {
  --primary-color: white;
  --secondary-color: #d1d0d0;
  --tertiary-color: #c4c4c4;
  --quaternary-color: #7e7e7e;

  --neutral-color: rgb(123, 123, 123);
  --dark-color: rgb(98, 98, 98);

  --button-color: aqua;
}
